<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Product</title>
</head>
<body>
    <form action="/products/<%= product.id %>/edit" method="post">
        <table align="center">
            <tr>
                <td><label for="category">Category</label></td>
                <td><input type="text" name="category" value="<%= product.category %>"></td>
            </tr>
            <tr>
                <td><label for="name">Name</label></td>
                <td><input type="text" name="name" value="<%= product.name %>"></td>
            </tr>
            <tr>
                <td><label for="stock">Stock</label></td>
                <td><input type="number" name="stock" value="<%= product.stock %>"></td>
            </tr>
            <tr>
                <td><label for="price">Price</label></td>
                <td><input type="number" name="price" value="<%= product.price %>"></td>
            </tr>
            <tr>
                <td><label for="AdminId">Admin ID</label></td>
                <td>
                    <select name="AdminId">
                        <option selected disabled>---SELECT---</option>
                        <% admin.forEach (ad => { %>
                            <option name="<%= ad.id %>" value="<%= ad.id %>" <% (product.id == ad.id) ? 'selected' : '' %>>
                                <%= ad.id %> </option>
                            <% }) %>
                    </select>
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="submit" value="save"></td>
            </tr>
        </table>
    </form>
</body>
</html>